@charset "utf-8";

/*  CSS styles  */
/*  Letter type  */
@font-face{
    font-family: 'Amiko';
    src: url(../fonts/Amiko/Amiko-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Amiko';
    src: url(../fonts/Amiko/Amiko-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Noto Sans';
    src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Noto Sans';
    src: url(../fonts/Noto_Sans/NotoSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

/*  Custom properties  */
:root{
    --first_color: #b33939;
    --first_alpha_color: rgba(179, 57, 57, 0.75);
    --second_color: #ffb142;
    --second_alpha_color: rgba(255, 177, 66, .25);
    --white_color: #ffffff;
    --light_gray: #f3f3f3;
    --black_first_color: #000000;
    --black_second_color: #333333;
    --black_alpha_color: rgb(0, 0, 0, .50);
    --link_color: #509EE3;
    --title_font: 'Amiko', sans-serif;
    --text_font: 'Noto Sans', sans-serif;
    --max_width: 1200px;
    --header_height: 5rem;
}

/*  Reset css  */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  General styles  */
html,
body{
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--text_font);
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    color: var(--black_first_color);
}

a{
    color: var(--link_color);
    transition: all 0.5s ease-out;
}

a:hover{ opacity: .75; }

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    font-family: var(--title_font);
}

h1{ font-size: 2rem; }

h2{ font-size: 1.5rem; }

h3{ font-size: 1.125rem; }

h4{ font-size: 1rem; }

h5{ font-size: .8rem; }

h6{ font-size: .6rem; }

p{ line-height: 1.6; }

/*  Responsive image  */
img{
    max-width: 100%;
    height: auto;
}

/*  Utilities  */
.box_shadow{ box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25); }

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max_width);
}

.none{ display: none; }

.btn{
    display: inline-block;
    border-radius: 0.3rem;
    padding: 0.6rem;
    width: auto;
    font-weight: 700;
    text-decoration: none;
    color: var(--white_color);
    background-color: var(--first_color);
    text-align: center;
    margin-top: var(--btn_margin_top);
}

.gray_scale{ filter: grayscale(1); }

.text_left{ text-align: left; }

.text_right{ text-align: right; }

.text_center{ text-align: center; }

.section{ padding: 2rem 1rem; }

.bg_gray_light{ background-color: var(--light_gray); }

.section_title{
    border-top: thin solid var(--first_color);
    border-bottom: thin solid var(--first_color);
    width: 250px;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    text-align: center;
    color: var(--black_first_color);
}

.plates:not(.plates:last-child){
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.plate{
    padding: 1rem;
    border: thin solid var(--first_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plate:not(.plate:last-child){
    margin-bottom: 1rem;
}

.info_food{ margin-bottom: 1rem; }

/*  Estilos generales de los formularios  */
.row_form label{
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
}

.row_form sup{ color: var(--first_color); }

.row_form input,
.row_form select,
.row_form textarea{
    display: inline-block;
    font-size: 0.85rem;
    padding: 0.5rem;
    width: 100%;
    margin: 1rem auto;
    border: 0;
    border-bottom: thin solid var(--black_alpha_color);
}

.row_form select{ background-color: var(--light_gray); }

.row_form textarea{
    border: thin solid var(--black_alpha_color);
    background-color: var(--light_gray);
}

.row_form input[name="name_reserve"],
.row_form input[name="name_contact"]{ text-transform: capitalize; }

.form_btn{
    cursor: pointer;
    transition: all 0.5s ease-out;
    border: 0;
    margin-bottom: 2rem;
}

.form_btn:hover{ opacity: 0.75; }

.text_required{
    color: var(--first_color);
    font-size: 0.56rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.loader{ text-align: center; }

.input_error{
    background-color: red;
    color: var(--white_color);
    padding: 5px;
    font-size: .7rem;
    margin-top: -0.9rem;
    margin-bottom: 1rem;
}

.input_error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

/*  Animación de los mensajes de error  */
@keyframes show-message{
    0%{
        visibility: hidden;
        opacity: 0;
    }

    100%{
        visibility: visible;
        opacity: 1;
    }
}

.modal_reserve,
.modal_contact{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--black_alpha_color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal_reserve#mensaje_reserva:target{
    opacity: 1;
    pointer-events: visible;
}

.modal_contact#mensaje_contacto:target{
    opacity: 1;
    pointer-events: visible;
}

/*  Site styles  */
/*  Header  */
.header{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: var(--header_height);
    background-color: var(--second_color);
    padding: 1rem;
}

.header > .header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/*  Logo  */
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container .logo > svg{
    width: 50px;
    height: 45px;
}

.header_container .logo > a{
    margin-bottom: 18px;
    margin-left: -5px;
    text-decoration: none;
    color: var(--first_color);
    font-weight: 700;
    font-size: 1rem;
}

.header_container .logo > a:hover{ color: var(--white_color); }

/*  Header buttons  */
.header_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_icons .whatsapp_btn > svg{
    width: 25px;
    height: 25px;
    color: var(--first_color);
    margin-right: 10px;
}

.header_icons .whatsapp_btn svg:hover{ color: var(--white_color); }

.menu_btn{
    outline: thin solid var(--first_color);
    border: 0;
    background-color: var(--second_color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_btn svg{
    width: 25px;
    height: 25px;
    fill: var(--first_color);
}

/*  Main menu  */
.menu{
    position: fixed;
    left: 0;
    bottom: var(--header_height);
    width: 100%;
    background-color: var(--second_color);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    border-bottom: thin solid var(--first_color);
}

.menu.is_active{
    opacity: 1;
    pointer-events: visible;
}

.menu a{
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    color: var(--first_color);
}

.menu a:hover{
    color: var(--white_color);
    background-color: var(--first_color);
}

/*  Home  */
/*  Hero image  */
.hero_image{
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: var(--attachment);
}

.hero_image_opacity{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--opacity_color);
}

.hero_image_title{
    color: var(--white_color);
    font-size: 1.87rem;
    margin-bottom: 1rem;
}

.hero_image_subtitle{
    color: var(--white_color);
    font-size: 1.25rem;
}

/*  About  */
.img_about{
    margin-top: 2rem;
    text-align: center;
}

.img_about img{
    width: 100%;
    height: 100%;
    max-width: 800px;
}

.text_about p{
    margin-top: 1rem;
    font-size: 0.8rem;
}

/*  Food  */
.food .link{
    display: block;
    text-align: center;
    color: var(--black_second_color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

.food .link:hover{
    color: var(--black_first_color);
    text-decoration: underline;
}

.food .btn_link{
    text-align: center;
}

.title_food{ margin-bottom: 2rem; }

.card_food{ background-color: var(--second_alpha_color); }

.card_food h3{
    margin: 1rem;
    text-align: center;
    color: var(--first_color);
}

.card_food p{
    text-align: center;
    font-size: 0.87rem;
    margin-bottom: 2rem;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.card_food small{
    display: block;
    text-align: right;
    color: var(--first_color);
    font-size: 1rem;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
}

/*  Reserve  */
.form_reserve{ 
    margin-top: 2rem;
    padding: 10px;
}

.reserve_form_response{
    padding: 1rem;
    width: 400px;
    text-align: center;
    background-color: var(--white_color);
}

.reserve_form_response svg{
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: var(--first_color);
}

/*  Gallery  */
.gallery a{
    display: block;
    text-align: center;
    color: var(--black_second_color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

.gallery a:hover{
    color: var(--black_first_color);
    text-decoration: underline;
}

.img_gallery{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.img_full_gallery{ margin-top: 2rem; }

.img_gallery img:not(.img_gallery img:last-child){ margin-bottom: 1rem; }

.img_full_gallery img:not(.img_full_gallery img:last-child){ margin-bottom: 1rem; }

/*  Contact  */
.contact_form{
    margin-top: 2rem;
    padding: 10px;
}

/*  Contact cards  */
.cards_contact{ margin-top: 2rem; }

.contact_card{
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact_card > svg{
    width: 2rem;
    height: 2rem;
}

.contact_card:last-child h2{
    font-size: 2rem;
    color: var(--first_color);
}

.contact_card .email_card:after{
    content: 'info@smartrestaurant.es';
}

.contact_card .card_link{ color: var(--black_first_color); }

.contact_form_response{
    padding: 1rem;
    width: 400px;
    text-align: center;
    background-color: var(--white_color);
}

.contact_form_response svg{
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: var(--first_color);
}

.social_icon{
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icon a:not(.social_icon a:last-child){ margin-right: 20px; }

.social_icon svg{
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--first_color);
}

/*  Footer  */
.footer{
    background-color: var(--first_color);
    text-align: center;
    padding: 0.5rem;
    margin-bottom: var(--header_height);
}

.footer_content a,
.footer_content small{
    display: block;
    padding: 10px 0;
    font-size: 0.75rem;
    color: var(--white_color);
}

.footer_content a.creator_name{
    display: inline;
    text-decoration: underline;
}

/*  Media queries  */
@media screen and (min-width: 768px){

    /*  Utilities  */
    /*  Estilos generales de los formularios  */
    .row_form:after{
        content: '';
        display: table;
        clear: both;
    }

    .text_required{ margin-top: 0; }

    /*  Site styles  */
    /*  Header  */
    .header_container .logo > svg{
        width: 70px;
        height: 65px;
    }

    .header_container .logo > a{ font-size: 1.8rem; }

    .header_icons .whatsapp_btn > svg{
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    .menu_btn svg{
        width: 40px;
        height: 40px;
    }

    /*  Home  */
    /*  Hero image  */
    .hero_image_title{ font-size: 3.125rem; }

    .hero_image_subtitle{ font-size: 1.875rem; }

    /*  About  */
    .text_about p{ font-size: 1.5rem; }

    /*  Food  */
    .food{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .title_food{
        grid-column: span 2;
    }

    .food .link{ grid-column: span 2; }

    .food .btn_link{ grid-column: span 2; }

    .card_food p{
        padding-left: 5px;
        padding-right: 5px;
    }

    /*  Reserve  */
    .form_reserve form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .form_reserve form .text_area{
        grid-column: 1 / 3;
    }

    .form_reserve form .btn{
        width: 30%;
        grid-column: 1 / 2;
    }

    /*  Gallery  */
    .img_gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .img_full_gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    /*  Contact  */
    .contact_form form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .contact_form form .text_area{ grid-column: 1 / 3; }

    .contact_form form .btn{
        width: 30%;
        grid-column: 1 / 2;
    }

    .cards_contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    /*  Footer  */
    .footer_content a,
    .footer_content small{ font-size: 1rem; }

}

@media screen and (min-width: 992px){

    /*  Utilities  */
    .sub_section{ padding: 2rem 1rem;}

    .sub_section .section_title{ margin-top: 0; }

    .section_title{
        margin-top: 6rem;
        width: 300px;
    }

    /*  Site styles  */
    /*  Header  */
    .header{
        position: sticky;
        top: 0;
        height: 6rem;
    }

    .header_container .logo > a{ font-size: 1.3rem; }

    .header_icons .whatsapp_btn > svg{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .menu_btn{ display: none; }

    .menu{
        position: static;
        opacity: 1;
        pointer-events: visible;
        flex-direction: row;
        width: auto;
        border-bottom: 0;
    }

    .menu a{
        padding: 0 0.6rem;
    }

    .menu a:last-child{ padding-right: 0; }

    .menu a:hover{ background-color: transparent; }

    /*  Home  */
    /*  Hero image  */
    .hero_image_title{ font-size: 4.93rem; }

    .hero_image_subtitle{ font-size: 2.125rem; }

    .hero_image_content a{ font-size: 1.6rem; }

    /*  About  */
    .title_about h2{ font-size: 2.2rem; }

    .text_about p{ font-size: 1.5rem; }

    /*  Food  */
    .title_food h2{ font-size: 2.2rem; }

    .food{ grid-template-columns: repeat(3, 1fr); }

    .title_food{ grid-column: span 3; }

    .food .link{
        grid-column: span 3;
        font-size: 1.5rem;
    }

    .food .info_food .section_title{ width: auto; }

    .food .btn_link{
        grid-column: span 3;
        margin-bottom: 2rem;
    }

    /*  Reserve  */
    .title_reserve h2{ font-size: 2.2rem; }

    /*  Gallery  */
    .img_gallery{ grid-template-columns: repeat(4, 1fr); }

    .title_gallery h2{ font-size: 2.2rem; }

    .gallery a{ font-size: 1.5rem; }

    .img_full_gallery{
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2rem;
    }

    /*  Contact */
    .title_contact h2{ font-size: 2.2rem; }

    .cards_contact{ grid-template-columns: repeat(4,1fr); }

    /*  Footer  */
    .footer{ margin-bottom: 0; }

}

@media screen and (min-width: 1200px){

    /*  Utilities  */
    .section,
    .sub_section{
        padding-left: 0;
        padding-right: 0;
    }

}